#pageWrap .fixBg{
	background: url(../img/mainBg.png) no-repeat top center;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: fixed;
}
#content .s-skin-wrap{
	position: relative;
	height: 100%;
	top: 500px;
}
#content .skillWrap{
	background: #f1e6d6;
	width: 100%;
	height: auto;
	position: relative;
	z-index: 100;
}
.main-wrap{
	width: 980px;height: 700px;
	margin: auto;
	padding-top: 30px;
}
.skillHeader{
	width: 750px;height: auto;
	overflow: hidden;
	margin: auto;
}
.main-skill-wrap{
	position: relative;
	z-index: 50;
	width: 860px;height: 200px;
	margin: 0 auto;
	padding-top: 30px;
}
.main-skill-wrap li{
	list-style: none;
	position: relative;
	float: left;
	margin: 5px;
	
}
.main-skill-wrap li .liDiv{
	width: 130px;
	height: 130px;
	position: relative;
	transform-origin: 50% 8px;/*旋转支点*/
	-moz-transform-origin:  50% 8px;
	-webkit-transform-origin: 50% 8px;
	-ms-transform-origin:50% 8px ;
	 transition:all 1s;
}
.main-skill-wrap li img{
	width: 130px;
	height: 130px;
}
.main-skill-wrap li .liDiv:after{
	content: "";
	position: absolute;
	top: 0px;
	left: 44%;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background:#1197f3;
}
.liDivMove{
	animation: spin 700ms;
}
@keyframes spin{
	0%{transform: rotate(0deg);}
	35%{transform: rotate(50deg);}
	70%{transform: rotate(-50deg);}
	100%{transform: rotate(0deg);}
}
@-moz-keyframes spin{
	0%{transform: rotate(0deg);}
	35%{transform: rotate(50deg);}
	70%{transform: rotate(-50deg);}
	100%{transform: rotate(0deg);}
}
@-ms-keyframes spin{
	0%{transform: rotate(0deg);}
	35%{transform: rotate(50deg);}
	70%{transform: rotate(-50deg);}
	100%{transform: rotate(0deg);}
}
@-webkit-keyframes spin{
	0%{transform: rotate(0deg);}
	35%{transform: rotate(50deg);}
	70%{transform: rotate(-50deg);}
	100%{transform: rotate(0deg);}
}
.main-skill-wrap li .skill-info{
	background: rgba(0,0,0,0.5);
	width: 200px;
	position: absolute;
	left: -35px;
	color: white;
	font-weight: 100;
	font-size: 14px;
	padding: 10px;
	transform:rotate(-360deg) scale(0) ;
	border-radius: 10px;
}
.main-skill-wrap li .skill-info span{
	color: #1197f3;
	font-weight: 800;
	font-size: 17px;
}
.main-skill-wrap li:hover .skill-info{
	transform:rotate(0deg) scale(1);
	transition: all 500ms;
}
.mainThree{
	width:900px;
	margin: auto;
	background: gainsboro;
	border-radius: 10px;
	/*transition:all 1000ms;*/
	transform: scale(0);
}
.mainInfo{
	animation: info 300ms;
}
@keyframes info{
	0%{transform: rotate(0deg);}
	35%{transform: rotate(-30deg);}
	70%{transform: rotate(30deg);}
	100%{transform: rotate(0deg);}
}

.mainThree:hover{
	box-shadow: 0px 0px 27px 3px darkgray;
}
.aboutMe{
	width: 900px;
	margin: auto;
	padding:50px 0px ;
	position: relative;
	z-index: 100;
}
.mainMore{
	background: #f1e6d6;
	position: relative;
	z-index: 100;
	width: 100%;
	height: 350px;
	text-align: center;
	padding-top: 20px;
}
.mainMore ul{
	width: 600px;
	height: auto;
	margin: auto;
	overflow: hidden;
}
.mainMore ul li{
	list-style: none;
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px 50px;
	border-radius: 100%;
}
.mainMore ul li img{
	transition: all 1000ms;
	width: 100%;
	height: 100%;
	border-radius:100% ;
}
.mainMore-wrap{
	position: relative;
	top: -600px;
	display: none;
	width: 100%;
	text-align: center;
}
.mainMore-wrap ul li:hover img{
	box-shadow: 0px 0px 10px 1px;
	transform: rotateY(360deg);
}
.mainMore button{
	width: 100px;
	height: 50px;
	background: #2c7bb1;
	color: white;
	font-weight: 600;
	font-size: 18px;
	border-radius: 30px;
	box-shadow:3px 4px 2px #03395d;
	border: 0px;
	margin:20px auto;
	cursor: pointer;
	animation: moreBtn infinite 2000ms;
}
@keyframes moreBtn{
	from{transform: scale(0.8);}
	to{transform: scale(1);}
}
.mainMore button:hover{
	background: rgba(44,123,177,0.5);
}
.mainMore button:focus{
	outline: none;
}
.mainMore button a{
	display: inline-block;
	width: 100%;
	height: 50px;
	line-height: 50px;
}
.mainMore button a:hover{
	color: white;
}
